.router-outlet {
  min-height: 86vh;
}

footer {
  background-color: rgba(169, 147, 147, 0.76);
  color: #000000;
  padding: 1em 1em;

}

.spacer {
  flex: 1 1 auto;
}

mat-chip-listbox a {
  text-decoration: none;
}
